rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function staff() { return request.auth != null && request.auth.token.email in ['CHANGE_ME@example.com']; }
    match /products/{file} {
      allow read: if true;
      allow create, update: if staff() && request.resource.size < 1024 * 1024 && request.resource.contentType.matches('image/.*');
      allow delete: if staff();
    }
  }
}
